
@{
    ViewBag.Title = "Secret";
}

<h1>Register Page</h1>
<form action="/Home/EditDB" method="post">
    <input type="text" name="query" size ="20" value="" />
    <button type="submit">Run</button>
</form>
@if (@TempData["Result"] != null)
{
    <h1>Result:</h1>
    <div>
        @Html.Raw(@TempData["Result"])
    </div>
}