
@{
    ViewBag.Title = "Secret";
}

<h1>DataBase Editor</h1>
<form action="/Home/EditDB" method="post">
    <input type="text" size="100" name="query" value="" />
    <button type="submit">Run</button>
</form>
@if (@TempData["Result"] != null)
{
    <h1>Result:</h1>
    <div>
        @Html.Raw(@TempData["Result"])
    </div>
}